
/* Smartphones and smaller screen devices 320px */
.contact-page{
    width:100%;
    height: 100%;
    margin-top: 150px;
    min-height: 500px;
}

.contact-content{
    width:80%;
    margin: 10px auto;
    box-shadow: 2px 2px 20px 8px rgba(0,0,0,0.1);
    padding:18px;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(3rem);

}

.contact-pane{
    margin-bottom: 10px;
    padding:18px;
}

.right{
    
    height:100%;
    padding: 10px;
    box-shadow: 2px 2px 20px 8px rgba(0,0,0,0.1);
    border-radius: 3px;
}

 /* Ipads and Tablets */
@media only screen and (min-width:768px){
    .contact-page{
        width:100%;
        height: 100%;
        margin-top: 170px;
    }
    
}

/*Desktop and Bigger Screens */
@media only screen and (min-width:1366px){
    .contact-page{
        width:100%;
        height: 100%;
        margin-top: 200px;
    }}
    
   